<meta name="keywords" content="Follow the Herd, hike, backpack, hiking, backpacking, trails, outdoors, trek">
<meta name="description" content="Welcome to the Follow the Herd. A place where you can watch the progress of the PCT hikers.">
