.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) max-content max-content;
  position: relative;
}

.date {
  justify-self: center;
  display: flex;
}

.date > * {
  align-self: center;
}

.loading {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 0 0.5rem;
  bottom: 2px;
  left: 2px;
}

.toasts {
  z-index: 1;
}

.toast-header {
  justify-content: space-between;
}
