.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr) max-content max-content;
  position: relative;
}

.date {
  justify-self: center;
  display: flex;
}

.date > * {
  align-self: center;
}
