.layout {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}

.remember-password >* {
  font-size: 12px;
  display: inline;
  margin-right: 0.25rem;
}
