.layout {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

button > div {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.fine-print {
  font-size: 12px;
}

.fine-print :not(:first-child) {
  margin-left: 0.25rem;
}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}
